@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

* { 
    box-sizing: border-box; 
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    margin: 0;
}

/*----------Header---------*/
.header-wrap {
    background-image: none;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

/* header img {
    width: 100%;
    clear: both;
} */


header span {
    margin-left: 200px;
    margin-top: 20px;
}

header .logout {
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    clear: both;
}

#account-url {
    margin: 20px;
    float: right;
    clear: both;
}

#account-url a {
    text-decoration: none;
    color: #3a3a3a;
    font-weight: bold;
}

 
/*----------Nav---------*/
nav {
    background-color: #3a3a3a;
    
}

nav ul {
    padding: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0 5px 0 5px;
}

nav ul a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

nav ul li:hover {
    background-color: #4c96d7;
    padding: 25px 5px;
}

/*----------h1---------*/
h1 {
    font-size: 28px;
}

/*----------h2---------*/
h2 {
    font-size: 20px;
}

/*----------Own-today---------*/
.own-today {
    position: relative;
}

#car {
    width: 100%;
}

.own-today-msg h2 {
    font-size: 20px;
}

.own-today-msg {
    color: #004581;
    position: absolute;
    width: 35%;
    top: 25px;
    left: 10px;
    line-height: 5px;
}

/*----------Own-today button---------*/
#own-today-button img {
    width: 100%;
}

#own-today-button {
    width: 30%;
    margin: 10px auto;
}

/*----------Reviews---------*/
.reviews {
    line-height: 35px;
}

.reviews ul {
    margin: 0;
}

/*----------Upgrades---------*/
.upgrades-grid {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.upgrades-grid figure {
    margin: 0 auto;
    width: 100%;
    padding: 5px 40px;
    border: 1px solid black;
    background-color: #4c96d7;
}

.upgrades-grid figcaption {
    text-align: center;
}

.upgrades-grid a {
    color: rgb(0, 0, 0);
}

.upgrades-grid figure img {
    width: 100%;
    
}

/* MAIN */
.main-wrap {
    margin-left: 20px;
}

.account-button {
    margin-top: 10px;
}

/*----------Footer---------*/
.footer-wrap {
    text-align: center;
    line-height: normal;
}

.footer-wrap p {
    font-size: 13px;
}

@media only screen and (min-width: 600px) {
    body {
        background-image: url("../images/site/checkerboard.jpg");
        background-repeat: repeat;
        margin: 6px;
    }

    .header-wrap {
        background-image: none;
        background-color: white;
        width: 90%;
        margin: 0 auto;
        border: 4px solid #4c96d7;
        border-radius: 10px;
    }

    header img {
        width: 200px;
    }

    .footer-wrap {
        line-height: 10px;
    }

    .own-today-msg {
        color: #004581;
        position: absolute;
        width: 170px;
        top: 40px;
        left: 40px;
        line-height: 7px;
    }

    #own-today-button img {
        position: absolute;
        width: 170px;
        top: 160px;
        left: 40px;
        line-height: 7px;
    }

    .reviews {
        width: 50%;
        float: right;
    }

    .upgrades {
        width: 50%;
    }

    footer {
        clear: both;
    }

} 