@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/*----------Header---------*/
.header-wrap {
    background-image: none;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

header img {
    width: 150px;
}


header span {
    margin-left: 200px;
    margin-top: 20px;
}

header .logout {
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    clear: both;
}

#account-url {
    margin: 20px;
    float: right;
    clear: both;
}

#account-url a {
    text-decoration: none;
    color: #3a3a3a;
    font-weight: bold;
}


/*----------Nav---------*/
nav {
    background-color: #3a3a3a;

}

nav ul {
    padding: 20px;
    width: 100%;
}

nav ul li {
    /* list-style-type: none; */
    display: inline;
    padding: 0 5px 0 5px;
}

nav ul a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

nav ul li:hover {
    background-color: #4c96d7;
    padding: 25px 5px;
}

/*----------h1---------*/
h1 {
    font-size: 28px;
}

/*----------h2---------*/
h2 {
    font-size: 20px;
}

hr {
    width: 100%;
    border: 1px black solid;
}

/*----------Own-today---------*/
.own-today {
    position: relative;
}

#car {
    width: 100%;
}

.own-today-msg h2 {
    font-size: 20px;
}

.own-today-msg {
    color: #004581;
    position: absolute;
    width: 35%;
    top: 25px;
    left: 10px;
    line-height: 5px;
}

/*----------Own-today button---------*/
#own-today-button img {
    width: 100%;
}

#own-today-button {
    width: 30%;
    margin: 10px auto;
}

/*----------Reviews---------*/
.reviews {
    line-height: 35px;
}

.reviews ul {
    margin: 0;
}

/*----------Upgrades---------*/
.upgrades-grid {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.upgrades-grid figure {
    margin: 0 auto;
    width: 100%;
    padding: 5px 40px;
    border: 1px solid black;
    background-color: #4c96d7;
}

.upgrades-grid figcaption {
    text-align: center;
}

.upgrades-grid a {
    color: rgb(0, 0, 0);
}

.upgrades-grid figure img {
    width: 100%;

}

/* MAIN */
.main-wrap {
    margin: 20px;
}

.account-button {
    margin-top: 10px;
}

/*----------Footer---------*/
.footer-wrap {
    text-align: center;
    line-height: normal;
    padding: 0 5%;
}

.footer-wrap p {
    font-size: 13px;
}

#image-display {
    list-style-type: none;
}

/* inv-display for thumbnails page*/
#inv-display {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#inv-display li {
    margin: 1em;
    border: 1px #ccc solid;
    border-radius: 25px;
    list-style-type: none;
    flex: 1 1 auto;
    padding: 10px;
}

#inv-display li img {
    width: 100%;
    /* max-height: 200px; */
    border-radius: 25px 25px 0 0;
    padding: 0;
}

/* inv-details for detail page*/
#inv-details, #inv-img-text {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    row-gap: 10px;
}

#inv-details img {
    width: 100%;
    box-shadow: 2px 2px 10px rgb(129, 129, 129);
    border-radius: 10px;
    border: 1px black solid;
}

#inv-details img:hover {
    box-shadow: 6px 6px 6px rgb(129, 129, 129);
}

#inv-text, #inv-thumbnails {
    border: 1px black solid;
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    background-color: #e7e7e7;
    box-shadow: 2px 2px 10px rgb(129, 129, 129);
}

#inv-text:hover, #inv-thumbnails:hover {
    box-shadow: 6px 6px 6px rgb(129, 129, 129);
}

#inv-text, #inv-thumbnails h2 {
    color: #004581;
}

#inv-thumbnails ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

#inv-thumbnails li {
    list-style-type: none;
    max-width: 30%;
}

#inv-thumbnails img {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    body {
        background-image: url("../images/site/small_check.jpg");
        background-repeat: repeat;
        margin: 6px;
    }

    .header-wrap {
        background-image: none;
        background-color: white;
        width: 90%;
        margin: 0 auto;
        border: 4px solid #4c96d7;
        border-radius: 10px;
    }

    header img {
        max-width: 200px;
    }

    .footer-wrap {
        line-height: 10px;
        
    }

    .own-today-msg {
        color: #004581;
        position: absolute;
        width: 170px;
        top: 40px;
        left: 40px;
        line-height: 7px;
    }

    #own-today-button img {
        position: absolute;
        width: 170px;
        top: 160px;
        left: 40px;
        line-height: 7px;
    }

    .reviews {
        width: 50%;
        float: right;
    }

    .upgrades {
        width: 50%;
    }

    footer {
        clear: both;
    }

    /* For vehicle display in classification view (thumbnails)*/
    #inv-display {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #inv-display h2 {
        font-size: 1rem;
    }

    #inv-display li {
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        /* height: 300px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #inv-display div {
        width: 100%;
    }

    /* For each vehicle details */
    #inv-details {
        flex-flow: row-reverse nowrap;
        justify-content: space-around;
        gap: 10px;
    }

    #inv-img-text {
        flex-flow: row nowrap;
        justify-content: space-around;
        gap: 10px;
    }

    #inv-details #inv-img-text img {
        max-width: 40%;
        object-fit: contain;
        background-color:#e7e7e7;
    }
    
    #inv-text {
        /* max-width: 40%; */
        padding: 10px 10px;
    }

    #inv-thumbnails {
        max-width: 130px;
        width: 17%;
        padding: 10px;
    }

    #inv-thumbnails h2 {
        display: none;
    }

    #inv-thumbnails ul {
        flex-flow: column wrap;
        gap: 10px;
    }

    #inv-thumbnails li {
        width: 100%;
        max-width: none;
    }

    #inv-thumbnails img:hover {
        width: 300%;
        height: 300%;
        box-shadow: none;
    }
}